body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0px;
}
@media (max-width:767px) {
    body{
        padding: 20px 15px;
    }
}
#app{
    width: 500px;
    max-width: 100%;
    min-height:600px;
    background: linear-gradient(to bottom , #3949ab , #e8eaf6,#3949ab);    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px 0px;
}
.holder{
    margin-top: 15px;
    max-width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    color: #fff;
    font-weight: bold;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label,.title{
    display:block;
    font-size: 17px;
    color: #fff;
    margin-bottom: 4px;
    max-width: 90%;
}
input,textarea,#entryHolder{
    display: block;
    height: 60px;
    width: 320px;
    background: #fff;
    color: #7e57c2;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 9px solid #eaebf4;
    border-radius: 53px;
    caret-color: #7e57c2;
    padding: 0px 10px;
    max-width: 90%;
}
textarea,#entryHolder{
    height: 219px;
    resize: none;
    width: 395px;
    padding: 11px 17px;
}
button{
    display: block;
    height: 56px;
    width: 120px;
    background: #fff;
    color: #7e57c2;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 6px solid #eaebf4;
    border-radius: 23px;
    padding: 0px 10px;
    margin-top: 20px;
    cursor: pointer;
}
h1{
    font-size: 36px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #777; 
    font-family: 'Oswald', sans-serif;
    font-size: 15px;

} 
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #777; 
    font-family: 'Oswald', sans-serif;

} 
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #777; 
    font-family: 'Oswald', sans-serif;

} 